html,
body {
    height:100%;
    font-size:12px;
    width:100%;
}

html {
    display:table;
}

body {
    background-color:#A7A7A7;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    display:table-cell;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    vertical-align:middle;
}

.app {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.scan {
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 24px;
    background-color: #35BE35;
    padding: 10px 25px;
    border: 1px solid #0A8D0A;
    color: white;
    text-shadow: 0 1px 0 #0A8D0A;
    box-shadow: 0 1px 2px rgba(10, 141, 10, 0.32), inset 0 1px 0 rgba(255,255,255,0.3);
    border-radius: 2px;
    border-bottom-width: 2px;
    margin: 0 auto;
}

.results {
    font-weight: bold;
    font-size: 30px;
    color: #333;
}

.results .format {
    font-size: 25px;
    color: #666;
}

/* lanscape (when wide enough) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:445px) {
}
